cvzone==1.6.1
mediapipe==0.10.9
tensorflow==2.10.0
tensorflow-gpu==2.10.0
keras==2.10.0
keras-tuner==1.4.7
tensorflow-hub==0.16.1
tensorflow-datasets==4.9.8
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.17.0
opencv-python==4.11.0.86
torch==2.6.0
torchvision==0.21.0
matplotlib==3.10.1
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.2
opencv-contrib-python==4.11.0.86
timm==1.0.15
einops==0.8.1
keras-cv==0.9.0
keras-core==0.1.7
transformers==4.29.0
